
// GLOBAL STYLES
@import "normalize";
@import "global/variables";
@import "global/font";
@import "global/mixins";

// PLUGINS 
@import "plugins/tooltipster";
@import "plugins/icomoon";
@import "plugins/nice-select";

// BLOCKS STYLE
@import "blocks/page-header";
@import "blocks/first-block";
@import "blocks/trust";
@import "blocks/offer";
@import "blocks/reliably";
@import "blocks/promo-block";
@import "blocks/services";
@import "blocks/problems";
@import "blocks/calculation";


@import "blocks/page-footer";

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #fff;
	
	font-family: 'ProximaNova', sans-serif;
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	font-size: 18px;
	
	overflow-x: hidden;
}

