.page-header {
	position: relative;
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	
	z-index: 60;
	
	&__top {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		.left-text {
			font-size: 14px;
			font-weight: 400;
			color: @main-white;
		}
		
		.city-wrap {
			font-size: 14px;
			color: @main-white;
			
			vertical-align: middle;
			
			.icon-location {
				width: 12px;
				height: 15px;
				vertical-align: middle;
				display: inline-block;
				color: #fff;
				font-size: 15px;
				margin-right: 10px;
			}
		}
		
		.top-phone {
			font-size: 24px;
		}
	}
	
	&__menu-toggle {
		flex-shrink: 0;
		position: relative;
		outline: none !important;
		border: none;
		cursor: pointer;
		text-decoration: none !important;
		background: none;
		-webkit-appearance: none;

		display: block;
		width: 50px;
		height: 50px;

		background: transparent;
		
		color: #fff;
		text-align: center;
		line-height: 50px;
		
		transition: all 0.2s ease-in;
		
		&:hover,
		&:active {
			color: @brand-color;
		}
	}
	
	&__bottom {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		.bottom-phone {
			display: none;
		}
		
		.main-logo {
			flex-shrink: 0;
			cursor: pointer;
			width: 179px;
			height: 74px;
			display: block;
			
			transition: all 0.15s ease-in;
			
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
			
			&:hover {
				opacity: 0.7;
			}
		}
	}
	
	&__menu {
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			li {
				display: inline-block;
				
				a {
					text-decoration: none !important;
					display: block;
					font-size: 17px;
					color: @main-white;
					
					transition: all 0.15s ease-in;
					
					&:active,
					&:focus {
						color: @main-white;
					}
					
					&:hover {
						color: @brand-color;
					}
				}
			}
		}
	}
	
	&__city-popup {
		background-color: rgba(44,49,59,0.65);
		
		.top-head {
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			
			margin-bottom: 25px;
			
			.uppercase {
				text-transform: uppercase;
			}
		}
		
		.region-text {
			font-weight: 700;
			font-size: 16px;
			color: #fff;
			
			margin-bottom: 20px;
		}
		
		.city-row {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		
		.city-col {
			width: 50%;
			padding-right: 10px;
			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			
			.item {
				display: block;
				width: auto;
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
				color: @brand-color;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


@media @mobile {
	.page-header {
		position: absolute;
		top: 0;
		left: 0;
		
		background-color: #181c20;
		
		&__wrapper {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		&__top {
			padding-top: 15px;
			padding-bottom: 15px;
			
			> *:not(.city-wrap) {
				display: none;
			}
			
			.callback-btn {
				display: none !important;
			}
		}
		
		&__bottom {
			padding-bottom: 15px;
			
			.bottom-phone {
				position: relative;
				display: block;
				width: 50px;
				height: 50px;
				
				padding-top: 1px;
				
				font-size: 25px;
				color: #fff;
				line-height: 50px;
				text-align: center;
				
				transition: all 0.15s ease-in;
				
				&:hover,
				&:active {
					color: @brand-color;
				}
			}
			
			.main-logo {
				width: 152px;
				height: 63px;
			}
		}
		
		&__menu {
			display: none !important;
		}
		
		&__city-popup {
			
			.city-row {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
			
			.city-col {
				width: 100%;
				padding-right: 0;
			}
		}
	}
}


@media @tablet {
	.page-header {
		
		
		&__wrapper {
			padding-left: 30px;
			padding-right: 30px;
			
			padding-top: 20px;
		}
		
		&__bottom {
			
		}
		
		&__menu-toggle {
			margin-right: 40px;
			margin-left: 40px;
		}
		
		&__menu {
			width: 100%;
			flex-shrink: 1;
			
			ul {
				flex-wrap: wrap;
				
				li {
					margin: 5px 15px;
					
				}
			}
		}
		
		&__top {
			margin-bottom: 25px;
			flex-wrap: wrap;
			
			.left-text {
				width: 50%;
				margin-bottom: 20px;
			}
			
			.city-wrap {
				width: 50%;
				text-align: right;
				
				margin-bottom: 20px;
			}
		}
		
		&__city-popup {
			width: 405px;
		}
	}
}


@media @desktop {
	.page-header {
		
		&__wrapper {
			.container();
			
			padding-top: 20px;
		}
		
		&__menu {
			width: 100%;
			flex-shrink: 1;
			
			width: ~"calc(100% - 295px)";
			
		}
		
		&__top {
			margin-bottom: 25px;
			
			.city-wrap {
				margin-right: auto;
				margin-left: 60px;
			}
			
			.top-phone {
				margin-left: auto;
				margin-right: 25px;
			}
		}
		
		&__city-popup {
			width: 405px;
			
		}
	}
}








